@import "../../styles/variables.scss";

.section {
  padding: 260px 0 200px;

  @media (max-width: 1300px) {
    padding-top: 200px;
  }

  @media (max-width: 950px) {
    padding: 150px 0;
  }

  @media (max-width: 650px) {
    padding: 100px 0;
  }
}
.containerRight {
  max-width: 1750px;
  margin: 0 0 0 auto;
  padding: 0 0 0 20px;
}

.inner {
}

.title {
  max-width: 1073px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;

  span {
    color: $accent-color;
  }

  @media (max-width: 1300px) {
    font-size: 50px;
  }

  @media (max-width: 950px) {
    font-size: 40px;
  }

  @media (max-width: 650px) {
    font-size: 32px;
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;

  @media (max-width: 700px) {
    flex-direction: column;

    a {
      max-width: 100%;
    }
  }
}

.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;

  @media (max-width: 1550px) {
    padding-top: 100px;
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.list {
  display: flex;
  gap: 55px;
  flex-direction: column;
  flex: 0 1 680px;

  @media (max-width: 900px) {
    flex: 0 1 auto;
  }
}

.item {
  max-width: 680px;
  display: flex;
  gap: 46px;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 38px;
  }
}

.itemInfo {
  max-width: 521px;
}

.itemTitle {
  @media (max-width: 1200px) {
    font-size: 24px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.itemNum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $secondary-color;
  color: $white-color;
  font-weight: 700;
  line-height: 1.6;
  font-size: 28px;

  @media (max-width: 1200px) {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  @media (max-width: 500px) {
    width: 46px;
    height: 46px;
    font-size: 18px;
  }
}

.itemText {
  max-width: 510px;
  font-size: 18px;
  line-height: 1.8;

  @media (max-width: 1200px) {
    font-size: 16px;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.imgWrapper {
  flex-shrink: 1.5;
  // margin-right: -210px;
}

.img {
  object-fit: contain;
}
