@import "../../styles/variables.scss";

.header {
  position: sticky;
  background-color: transparent;
  z-index: 3;
}

.headerWrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  line-height: 1.6;
}

.link {
  font-size: 18px;
}
